extends layout 
 
block content 
  h1= title 
 
  - let electronicsid = toShow._id 
  - let electronics_product = toShow.electronics_product 
  - let electronics_price = toShow.electronics_price 
  - let electronics_size = toShow.electronics_size 
  div 
    div.row 
      div(class='electronicsAttr mr-3') electronics ID is: 
      div #{electronicsid} 
    div.row 
      div(class='electronicsAttr mr-3') electronics Product is: 
      div #{electronics_product} 
    div.row 
      div(class='electronicsAttr mr-3') electronics Size is: 
      div #{electronics_size} 
    div.row 
      div(class='electronicsAttr mr-3') electronics Price is: 
      div #{electronics_price} 