extends layout

block content
  h1= title
  - var results = electronics_results
  div.container-fluid 
    div.row 
        each item, index in results
            div.col-sm-2(onclick=`buy(${index})`) electronics product: #{item["electronics_product"]} <br> electronics price: #{item["electronics_price"]} <br> electronics size: #{item["electronics_size"]}

  script.
    function buy(index) {
      alert("You purchased item " + index)
    }